amqp
anyascii
appdirs
arabic-reshaper
asgiref
asn1crypto
async-timeout
asyncio
attrs
autobahn
Automat
autopep8
beautifulsoup4
billiard
boto3
botocore
celery
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
constantly
coreapi
coreschema
cron_descriptor
cryptography
cssselect2
daphne
defusedxml
distlib
Django
django-base-url
django-celery-beat
django-celery-results
django-ckeditor
django-cors-headers
django-debug-toolbar
django-filter
django-jazzmin
django-js-asset
django-mathfilters
django-model-utils
django-modelcluster
django-notifications-hq
django-permissionedforms
django-phone-field
django-phonenumber-field
django-render-partial
django-rest-passwordreset
django-shopping-cart
django-shortuuidfield
django-storages
django-taggit
django-timezone-field
django-treebeard
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
docopt
draftjs-exporter
drf-yasg
drf-yasg2
et-xmlfile
filelock
filetype
html5lib
hyperlink
idna
incremental
inflection
itypes
Jinja2
jmespath
joblib
jsonfield
kombu
l18n
lxml
MarkupSafe
msgpack
msgpack-python
nltk
oauthlib
openpyxl
oscrypto
packaging
Pillow
pipreqs
platformdirs
prompt-toolkit
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyHanko
pyhanko-certvalidator
PyJWT
pyOpenSSL
pypdf
pypng
python-bidi
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
razorpay
redis
regex
reportlab
requests
rest-framework-simplejwt
ruamel.yaml
ruamel.yaml.clib
s3transfer
service-identity
shortuuid
six
soupsieve
sqlparse
svglib
swapper
telepath
tinycss2
tqdm
Twisted
txaio
typing_extensions
tzdata
tzlocal
uritemplate
uritools
urllib3
vine
virtualenv
wagtail
wcwidth
webencodings
whitenoise
Willow
xhtml2pdf
yarg
zipp
zope.interface
